/* main.css */

		html { 
			background: url(http://localhost/Weather_App/includes/bg2000px.png) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		
		body {
			
			background: none;
		
		}
		
		.container {
			
			text-align: center;
			margin-top: 50px;
			width: 500px;
			color: yellow;
		
		}
		
		input, label {
			
			margin-top: 20px; 	
		
		}
		
		
		#weather {
			
			margin-top: 15px;
		
		}
	
		#map {
		   width: 100%;
		   height: 300px;
		   background-color: grey;
		   margin-bottom: 30px;
		 }
